@model UniCafe.Models.Category

@{
    ViewBag.Title = "Edit Category";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@functions{
    public string ParentCategory(int parentId)
    {
        foreach(var item in ViewBag.Categories)
        {
            if(item.Id == parentId)
            {
                return item.Name;
            }
        }
        return "Danh mục cha";
    }
}
@Html.Partial("ErrorsAlert")
<div class="row">
    <div class="col-12">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa fa-edit"></i> CHỈNH SỬA DANH MỤC: @Model.Name
                </h3>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <div class="card-body">
                    <div class="form-group">
                        <label>Tên</label>
                        <input class="form-control" id="name" name="name" type="text" value="@Html.DisplayFor(item => item.Name)" onchange="getSlug()">
                    </div>
                    <div class="form-group">
                        <label>Slug</label>
                        <input class="form-control" id="slug" name="slug" type="text" value="@Html.DisplayFor(item => item.Slug)">
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea class="form-control" id="description" name="description" rows="3">@Html.DisplayFor(item => item.Description)</textarea>
                    </div>
                    <div class="form-group">
                        <label>Danh mục cha</label>
                        <select class="form-control" id="parent_id" name="parent_id">
                            <option value="@Html.DisplayFor(item => item.ParentId)">@ParentCategory(Model.ParentId)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        @if (Convert.ToInt32(Model.Status) == 1)
                        {
                            <input type="checkbox" name="status" id="status" value="1" checked>
                        }
                        else
                        {
                            <input type="checkbox" name="status" id="status" value="1">
                        }
                        <label class="form-check-label">ON</label>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function removeDiacritics(str) {
        str = str.replace(/Đ/g, "D");
        str = str.replace(/đ/g, "d");
        str = str.replace(/ /g, "-"); // replace space to "-"
        return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
    }
    function getSlug() {
        var name = $('#name').val();
        var result = removeDiacritics(name);
        $('#slug').val(result.toLowerCase());
    }
</script>
