@model UniCafe.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

@*<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

    </dl>
</div>
<form>
    <input type="hidden" id="productId" value="@Model.Id" />
    <div class="form-group">
        <label>Size:</label>
        <select name="propertyId" id="propertyId" class="form-control">
            @foreach (var propertyProduct in ViewBag.PropertyProducts)
            {
                <option value="@propertyProduct.Id">@propertyProduct.Name - @propertyProduct.Price.ToString("N0")đ</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Topping:</label>
        <select name="optionProduct1" id="optionProduct1" class="form-control">
            @foreach (var optionProduct in ViewBag.OptionProducts)
            {
                <option value="@optionProduct.Id">@optionProduct.Name - @optionProduct.Price.ToString("N0")đ</option>
            }
        </select>
    </div>
    @foreach (var optionProduct in ViewBag.OptionProducts)
    {
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="optionProducts[@optionProduct.Id]" id="optionProduct_@optionProduct.Id" value="@optionProduct.Id">
            <label class="form-check-label" for="optionProduct_@optionProduct.Id">
                @optionProduct.Name - @optionProduct.Price.ToString("N0")đ
            </label>
        </div>
    }
    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" class="form-control" value="1" />
    </div>
    <button type="button" class="btn btn-primary" id="addToCart">Add to Cart</button>
</form>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script>
    $(document).ready(function () {
        $('#addToCart').click(function (e) {
            e.preventDefault();
            var productId = $('#productId').val();
            var propertyId = $('#propertyId').val();
            
            var quantity = $('#quantity').val();
            var optionProductIds = [];
            $('input[type="checkbox"]:checked').each(function () {
                optionProductIds.push($(this).val());
            });
            
            $.ajax({
                url: '/Cart/AddToCart',
                type: 'POST',
                data: { productId: productId, quantity: quantity, optionProductIds: optionProductIds, propertyId: propertyId },
                success: function (data) {
                    alert("Thêm thành công");
                    
                },
                error: function () {
                    alert('An error occurred while adding to cart.');
                }
            });
        });
    });

</script>*@
<main>
    <div class="main-part">
        <section class="default-section shop-single pad-bottom-remove">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
                        <div class="slider slider-for slick-shop slick-initialized slick-slider">
                            <div aria-live="polite" class="slick-list draggable">
                                <div class="slick-track" role="listbox" style="opacity: 1; width: 4550px; transform: translate3d(-455px, 0px, 0px);">
                                    <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 455px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau.jpg" alt=""></div>
                                    <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 455px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau.jpg" alt=""></div>
                                    <div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 455px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau-detail-1.jpg" alt=""></div>
                                    <div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 455px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau-detail-2.jpg" alt=""></div>
                                    <div class="slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" tabindex="-1" style="width: 455px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider slider-nav slick-shop-thumb slick-initialized slick-slider">
                            <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;" fdprocessedid="xio4di">Previous</button>
                            <div aria-live="polite" class="slick-list draggable">
                                <div class="slick-track" role="listbox" style="opacity: 1; width: 1584px; transform: translate3d(-396px, 0px, 0px);">
                                    <div class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1" style="width: 75px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau.jpg" alt=""></div>
                                    <div class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1" style="width: 75px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau-detail-1.jpg" alt=""></div>
                                    <div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 75px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau-detail-2.jpg" alt=""></div>
                                    <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide10" style="width: 75px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau.jpg" alt=""></div>
                                    <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide11" style="width: 75px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau-detail-1.jpg" alt=""></div>
                                    <div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide12" style="width: 75px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau-detail-2.jpg" alt=""></div>
                                    <div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide14" style="width: 75px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau.jpg" alt=""></div>
                                    <div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide15" style="width: 75px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau-detail-1.jpg" alt=""></div>
                                    <div class="slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide16" style="width: 75px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau-detail-2.jpg" alt=""></div>
                                    <div class="slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" tabindex="-1" style="width: 75px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau.jpg" alt=""></div>
                                    <div class="slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" tabindex="-1" style="width: 75px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau-detail-1.jpg" alt=""></div>
                                    <div class="slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" tabindex="-1" style="width: 75px;"><img src="~/Content/Layout/User/images/hong-tra-sua-tran-chau-detail-2.jpg" alt=""></div>
                                </div>
                            </div><button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;" fdprocessedid="altywr">Next</button>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
                        <h4 class="text-coffee">Hồng Trà Sữa Trân Châu</h4>
                        <h3 class="text-coffee">49.000đ</h3>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="tag-wrap">
                                <h5>Chọn Size (bắt buộc)</h5>
                                <a href="#" class="tag-btn">Vừa +0đ</a>
                                <a href="#" class="tag-btn">Lớn +5.000đ</a>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="tag-wrap">
                                <h5>Topping</h5>
                                <a href="#" class="tag-btn">Kem Phô Mai Macchiato +10.000đ</a>
                                <a href="#" class="tag-btn">Trân Châu Trắng +10.000đ</a>
                                <a href="#" class="tag-btn">Thạch Cà Phê +10.000đ</a>
                                <a href="#" class="tag-btn">Shot Espresso +10.000đ</a>
                            </div>
                        </div>

                        <div class="price-textbox">
                            <span class="minus-text">
                                <i class="icon-minus"></i>
                            </span>
                            <input type="text" name="txt" placeholder="1" pattern="[0-9]" fdprocessedid="b1grhl">
                            <span class="plus-text"><i class="icon-plus"></i></span>
                        </div>
                        <a href="#" class="filter-btn btn-large"><i class="fa fa-shopping-bag" aria-hidden="true"></i>Thêm</a>
                        <div class="share-tag">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="social-wrap">
                                        <h5>Chia Sẻ</h5>
                                        <ul class="social">
                                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-tweeter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-instagram"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                            <li class="social-google"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="tag-wrap">
                                        <h5>Từ Khóa</h5>
                                        <a href="#" class="tag-btn">Trà Sữa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @* Description *@
        <section class="default-section comment-review-tab bg-grey v-pad-remove wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
            <div class="container">
                <div class="tab-part">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">DESCRIPTION</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" id="description">
                            <p>
                                <b>Hồng trà sữa trân châu</b> là một loại đồ uống được làm từ trà đen chất lượng cao phối hợp với sữa tươi và trân châu đen, tạo ra một hương vị thơm ngon và đặc biệt.<br />
                                Hương vị của trà đen thơm và đầy đặn, hòa quyện với sữa tươi béo ngậy, tạo ra một hỗn hợp vị ngọt nhẹ, bùi và thơm ngon. Trân châu đen được thêm vào để tăng thêm độ ngon và độ sánh của đồ uống, khiến cho người uống cảm nhận được sự thú vị và độc đáo của sản phẩm.<br />
                                Hồng trà sữa trân châu thích hợp cho mọi đối tượng, từ trẻ em đến người già. Đây là một lựa chọn tuyệt vời cho các buổi hẹn hò, hội họp, hoặc chỉ đơn giản là thưởng thức trong những ngày nắng nóng.<br />
                                Thêm chút ngọt ngào cho ngày mới với hồng trà nguyên lá, sữa thơm ngậy được cân chỉnh với tỉ lệ hoàn hảo, cùng trân châu trắng dai giòn có sẵn để bạn tận hưởng từng ngụm trà sữa ngọt ngào thơm ngậy thiệt đã.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="default-section wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
            <div class="container">
                <div class="title text-center">
                    <h3 class="text-coffee">Sản Phẩm Liên Quan</h3>
                </div>
                <div class="product-wrapper">
                    <div class="owl-carousel owl-theme" data-items="4" data-tablet="3" data-mobile="2" data-nav="false" data-dots="true" data-autoplay="true" data-speed="1800" data-autotime="5000">
                        <div class="item">
                            <div class="product-img">
                                <a href="shop_single.html">
                                    <img src="~/Content/Layout/User/images/ca-phe-sua-da.jpg" alt="">
                                    <span class="icon-basket fontello"></span>
                                </a>
                            </div>
                            <h5>Cà Phê Sữa Đá</h5>
                            <span>$79.00</span><del>$99.00</del>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <a href="shop_single.html">
                                    <img src="~/Content/Layout/User/images/tra-dao-cam-sa.jpg" alt="">
                                    <span class="icon-basket fontello"></span>
                                </a>
                            </div>
                            <h5>Trà Đào Cam Sả</h5>
                            <span>$50.00</span><del>$70.00</del>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <a href="shop_single.html">
                                    <img src="~/Content/Layout/User/images/bac-xiu.jpg" alt="">
                                    <span class="icon-basket fontello"></span>
                                </a>
                            </div>
                            <h5>Bạc Xỉu</h5>
                            <span>$99.00</span><del>$120.00</del>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <a href="shop_single.html">
                                    <img src="~/Content/Layout/User/images/tra-den-matchiato.jpg" alt="">
                                    <span class="icon-basket fontello"></span>
                                </a>
                            </div>
                            <h5>Trà Đen Macchiato</h5>
                            <span>$40.00</span><del>$55.00</del>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <a href="shop_single.html">
                                    <img src="~/Content/Layout/User/images/ca-phe-sua-da.jpg" alt="">
                                    <span class="icon-basket fontello"></span>
                                </a>
                            </div>
                            <h5>Cà Phê Sữa Đá</h5>
                            <span>$79.00</span><del>$99.00</del>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <a href="shop_single.html">
                                    <img src="~/Content/Layout/User/images/tra-dao-cam-sa.jpg" alt="">
                                    <span class="icon-basket fontello"></span>
                                </a>
                            </div>
                            <h5>Trà Đào Cam Sả</h5>
                            <span>$50.00</span><del>$70.00</del>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <a href="shop_single.html">
                                    <img src="~/Content/Layout/User/images/ca-phe-den-da.jpg" alt="">
                                    <span class="icon-basket fontello"></span>
                                </a>
                            </div>
                            <h5>Cà Phê Đen Đá</h5>
                            <span>$99.00</span><del>$120.00</del>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <a href="shop_single.html">
                                    <img src="~/Content/Layout/User/images/tra-den-matchiato.jpg" alt="">
                                    <span class="icon-basket fontello"></span>
                                </a>
                            </div>
                            <h5>Trà Đen Macchiato</h5>
                            <span>$40.00</span><del>$55.00</del>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <a href="shop_single.html">
                                    <img src="~/Content/Layout/User/images/tra-sen-nhan.jpg" alt="">
                                    <span class="icon-basket fontello"></span>
                                </a>
                            </div>
                            <h5>Trà Long Nhãn Hạt Sen</h5>
                            <span>$79.00</span><del>$99.00</del>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <a href="shop_single.html">
                                    <img src="~/Content/Layout/User/images/tra-dao-cam-sa.jpg" alt="">
                                    <span class="icon-basket fontello"></span>
                                </a>
                            </div>
                            <h5>Trà Đào Cam Sả</h5>
                            <span>$50.00</span><del>$70.00</del>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <a href="shop_single.html">
                                    <img src="~/Content/Layout/User/images/ca-phe-sua-da.jpg" alt="">
                                    <span class="icon-basket fontello"></span>
                                </a>
                            </div>
                            <h5>Cà Phê Sữa Đá</h5>
                            <span>$99.00</span><del>$120.00</del>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <a href="shop_single.html">
                                    <img src="~/Content/Layout/User/images/tra-den-matchiato.jpg" alt="">
                                    <span class="icon-basket fontello"></span>
                                </a>
                            </div>
                            <h5>Trà Đen Macchiato</h5>
                            <span>$40.00</span><del>$55.00</del>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <a href="shop_single.html">
                                    <img src="~/Content/Layout/User/images/tra-sen-nhan.jpg" alt="">
                                    <span class="icon-basket fontello"></span>
                                </a>
                            </div>
                            <h5>Trà Long Nhãn Hạt Sen</h5>
                            <span>$79.00</span><del>$99.00</del>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <a href="shop_single.html">
                                    <img src="~/Content/Layout/User/images/tra-dao-cam-sa.jpg" alt="">
                                    <span class="icon-basket fontello"></span>
                                </a>
                            </div>
                            <h5>Trà Đào Cam Sả</h5>
                            <span>$50.00</span><del>$70.00</del>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <a href="shop_single.html">
                                    <img src="~/Content/Layout/User/images/ca-phe-sua-da.jpg" alt="">
                                    <span class="icon-basket fontello"></span>
                                </a>
                            </div>
                            <h5>Cà Phê Sữa Đá</h5>
                            <span>$99.00</span><del>$120.00</del>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <a href="shop_single.html">
                                    <img src="~/Content/Layout/User/images/tra-sen.jpg" alt="">
                                    <span class="icon-basket fontello"></span>
                                </a>
                            </div>
                            <h5>Trà Sen Vàng</h5>
                            <span>$40.00</span><del>$55.00</del>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>