@model IEnumerable<UniCafe.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                <a href="/Product/@Html.DisplayFor(modelItem => item.Slug)">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @item.Price.ToString("N0")đ
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                <button class="btn btn-primary add-to-cart" data-product-id="@item.Id">Add to Cart</button>
            </td>
        </tr>
    }

</table>
@using (Html.BeginForm("Create", "Product", FormMethod.Post))
{
    //<form method="POST" asp-action="Create" asp-controller="Category">
    <div class="form-group">
        <label>Slug</label>
        <input type="text" class="form-control" name="Slug">
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="Name">
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="number" class="form-control" name="Price">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea rows="5" class="form-control" name="Description"></textarea>
    </div>
    <div class="form-group">
        <label>Image</label>
        <input type="text" class="form-control" name="Image">
    </div>
    <div class="form-group">
        <label>Category_Id</label>
        <select class="form-control" name="Category_Id">
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        @*<input type="text" class="form-control" name="Category_Id">*@
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" name="Status" value="1">
        <label class="form-check-label">Active</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    //</form>
}
<script>
    $(document).ready(function () {
        $('.add-to-cart').click(function (e) {
            e.preventDefault();
            var productId = $(this).data('product-id');
            var quantity = 1;
            $.ajax({
                url: '/Cart/AddToCart',
                type: 'POST',
                data: { productId: productId, quantity: quantity },
                success: function (data) {
                    alert("Thêm thành công");
                    // Thực hiện các thay đổi trên giao diện để hiển thị giỏ hàng mới nhất
                },
                error: function () {
                    alert('An error occurred while adding to cart.');
                }
            });
        });
    });
</script>