@model IEnumerable<UniCafe.Models.Role>
@{
    ViewBag.Title = "Role Manager";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@Html.Partial("ErrorsAlert")
<div class="modal fade" id="create_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Html.BeginForm("Create", "ManageRole", FormMethod.Post))
            {
                <div class="modal-header">
                    <h4 class="modal-title">Tạo role mới</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body table-responsive p-0">
                        <div class="form-group">
                            <label>Tên</label>
                            <input type="text" class="form-control" name="name" id="name">
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa fa-list"></i> DANH SÁCH ROLE <a data-toggle="modal" data-target="#create_modal"><i class="fa fa-plus-circle"></i></a>
                </h3>
            </div>
            <div class="card-body">
                <div class="card-body table-responsive p-0">
                    <table class="table table-head-fixed text-nowrap" id="nTable">
                        <thead>
                            <tr>
                                <th>Hành động</th>
                                <th>Id</th>
                                <th>Tên</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="#" class="btn btn-danger btn-sm" onclick="del('@item.Id')">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function del(id) {
        if (confirm("Bạn chắc chắn muốn xóa?")) {
            $.ajax({
                url: "@Url.Action("Delete", "ManageRole")",
                type: "POST",
                data: { id: id },
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                        location.reload();
                    } else {
                        alert(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    }
</script>