@model IEnumerable<UniCafe.Models.Role>
@{
    ViewBag.Title = "Role Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Role Manager</h2>
@Html.Partial("ErrorsAlert")
<p>
    <a data-toggle="modal" data-target="#create_modal">Create</a>
    <div class="modal fade" id="create_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <b><i class="fa fa-plus"></i> Thêm role mới</b>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Create", "ManageRole", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label>Tên</label>
                            <input type="text" class="form-control" name="name" id="name">
                        </div>
                        <button type="submit" class="btn btn-success">Thêm mới</button>
                    }
                </div>
            </div>
        </div>
    </div>
</p>

<div class="table-responsive">
    <table class="table table-condensed table-hover" id="nTable">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Tên
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a onclick="del('@item.Id')">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    function del(id) {
        if (confirm("Bạn chắc chắn muốn xóa?")) {
            $.ajax({
                url: "@Url.Action("Delete", "ManageRole")",
                type: "POST",
                data: { id: id },
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                        location.reload();
                    } else {
                        alert(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    }
    $(document).ready(function () {
        $('#nTable').DataTable({
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "order": [[1, 'desc']],
        });
    });
</script>