@model IEnumerable<UniCafe.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions{
    public string NorActive(string active = "1")
    {
        return active == "1" ? "<span class='label label-success'>ON</span>" : "<span class='label label-danger'>OFF</span>";
    }
}
<h2>Manage Product</h2>
@Html.Partial("ErrorsAlert")
<p>
  <a data-toggle="modal" data-target="#create_modal">Create</a>
    <div class="modal fade" id="create_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <b><i class="fa fa-plus"></i> Thêm sản phẩm mới</b>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Create", "ManageProduct", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label>Tên</label>
                            <input type="text" class="form-control" name="name" id="name" onchange="getSlug();">
                        </div>
                        <div class="form-group">
                            <label>Slug</label>
                            <input type="text" class="form-control" name="slug" id="slug">
                        </div>
                        <div class="form-group">
                            <label>Giá</label>
                            <input type="number" class="form-control" name="price" id="price" value="1000">
                        </div>
                        <div class="form-group">
                            <label>Mô tả</label>
                            <textarea rows="5" class="form-control" name="description" id="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Hình ảnh</label>
                            <input type="text" class="form-control" name="image" id="image">
                        </div>
                        <div class="form-group">
                            <label>Danh mục</label>
                            <select class="form-control" name="category_id" id="category_id">
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group form-check">
                            <label>Trạng thái</label>
                            <input type="checkbox" class="form-check-input" name="status" id="status" value="1" checked>
                            <label class="form-check-label">ON</label>
                        </div>
                        <button type="submit" class="btn btn-success">Thêm mới</button>
                    }
                </div>
            </div>
        </div>
    </div>
</p>
<div class="table-responsive">
    <table class="table table-condensed table-hover" id="nTable">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Tên
                </th>
                <th>
                    Slug
                </th>
                <th>
                    Giá
                </th>
                <th>
                    Mô tả
                </th>
                <th>
                    Hình ảnh
                </th>
                <th>
                    Trạng thái
                </th>
                <th>
                    Danh mục
                </th>
                <th>
                    CreatedAt
                </th>
                <th>
                    UpdatedAt
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Slug)
                    </td>
                    <td>
                        @item.Price.ToString("N0")đ
                    </td>
                    <td>
                        <textarea rows="3">@Html.DisplayFor(modelItem => item.Description)</textarea>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @Html.Raw(NorActive(item.Status))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "ManageProduct", new { id = item.Id })">Sửa</a>
                        <a onclick="del(@item.Id)">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>


    </table>
</div>

<script type="text/javascript">
    function removeDiacritics(str) {
        str = str.replace(/Đ/g, "D");
        str = str.replace(/ /g, "-"); // replace space to "-"
        return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
    }
    function getSlug() {
        var name = $('#name').val();
        var result = removeDiacritics(name);
        $('#slug').val(result.toLowerCase());
    }
    function del(id) {
        if (confirm("Bạn chắc chắn muốn xóa?")) {
            $.ajax({
                url: "@Url.Action("Delete", "ManageProduct")",
                type: "POST",
                data: { id: id },
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                        location.reload();
                    } else {
                        alert(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#nTable').DataTable({
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "order": [[9, 'desc']],
        });
    });
</script>