@model UniCafe.Models.Order
@{
    Page.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
    List<UniCafe.Models.CartItem> carts = ViewBag.Carts as List<UniCafe.Models.CartItem>;
}
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using UniCafe.Models

@{
    var userManager = new UserManager<UniCafe.Data.ApplicationUser>(new UserStore<UniCafe.Data.ApplicationUser>(new ApplicationDbContext()));
    var user = userManager.FindById(User.Identity.GetUserId());
}
<main>
    <div class="main-part">

        <!-- Start Shop Cart -->

        <section class="default-section shop-checkout bg-grey">
            <div class="container">
                <div class="checkout-wrap wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <ul class="checkout-bar">
                        <li class="done-proceed">Shopping Cart</li>
                        <li class="active">Checkout</li>
                        <li>Order Complete</li>
                    </ul>
                </div>
                @using (@Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="shop-checkout-left">
                                @Html.Partial("ErrorsAlert")
                                @*<h6>Returning customer? Click here to <a href="login_register.html">login</a></h6>*@
                                <form class="form-checkout" name="form" method="post">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <h5>THÔNG TIN NHẬN HÀNG</h5>
                                            <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        </div>
                                        @if (!User.Identity.IsAuthenticated)
                                        {
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <span>Bạn đã có tài khoản? Đăng nhập </span><a href="@Url.Action("Login","Account")">tại đây</a>
                                            </div>
                                            
                                        }
                                        <input type="hidden" name="UserId" value="@if (User.Identity.IsAuthenticated){@user.Id}" />
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input class="form-control text-box single-line" id="Name" name="Name" placeholder="Họ Tên" type="text" value="@if (User.Identity.IsAuthenticated){@user.UserName}">
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input class="form-control text-box single-line" id="PhoneNumber" name="PhoneNumber" placeholder="Số Điện Thoại" type="text" value="@if (User.Identity.IsAuthenticated){@user.PhoneNumber}">
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input class="form-control text-box single-line" id="Address" name="Address" placeholder="Địa chỉ nhận hàng" type="text" value="">
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <textarea class="form-control" rows="5" name="Note" id="Note" placeholder="Thêm hướng dẫn giao hàng hoặc gì đó về đơn hàng"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="shop-checkout-right">
                                <div class="shop-checkout-box">
                                    <h5>ĐƠN HÀNG</h5>
                                    <div class="shop-checkout-row">
                                        <div class="col-lg-8">SẢN PHẨM <span class="badge badge-secondary badge-pill">@carts.Count()</span></div>
                                        <div class="col-lg-4 text-right">THÀNH TIỀN</div>
                                    </div>
                                    @foreach (var item in carts)
                                    {
                                        <div class="row">
                                            <div class="col-lg-8"><b>@item.ProductName </b>x<span>@item.Quantity</span></div>
                                            <div class="col-lg-4 text-right">@item.Price.ToString("N0")<span>đ</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-8">Size: @item.PropertyProduct.Name</div>
                                            <div class="col-lg-4 text-right">@item.PropertyProduct.Price.ToString("N0")<span>đ</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-8">Topping: </div>
                                            <div class="col-lg-4"></div>
                                        </div>
                                        <div class="row">
                                            <div>
                                                @{
                                                    List<int> optionIds = new List<int>();
                                                }
                                                @foreach (var option in item.Options)
                                                {
                                                    <div class="col-lg-1"></div>
                                                    optionIds.Add(option.Id);
                                                    <div class="col-lg-7">@option.Name</div>
                                                    <div class="col-lg-4 text-right">@option.Price.ToString("N0")<span>đ</span></div>
                                                }
                                            </div>
                                        </div>
                                        <hr />
                                    }
                                    <div class="checkout-total">
                                        <h6>TỔNG CỘNG<small class="price-big">@carts.Sum(item => (item.Price + item.PropertyProduct.Price + item.Options.Sum(option => option.Price)) * item.Quantity).ToString("N0")đ</small></h6>
                                    </div>
                                </div>
                                <div class="shop-checkout-box">
                                    <h5>PHƯƠNG THỨC THANH TOÁN</h5>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <div class="custom-control custom-radio">
                                                <input id="cash" name="Payment" type="radio" class="custom-control-input" checked="" required="" value="cash">
                                                <label class="custom-control-label" for="cash">Tiền mặt</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input id="momo" name="Payment" type="radio" class="custom-control-input" required="" value="momo">
                                                <label class="custom-control-label" for="momo">MoMo</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input id="vnpay" name="Payment" type="radio" class="custom-control-input" required="" value="vnpay">
                                                <label class="custom-control-label" for="vnpay">VNPay</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkout-button" style="margin-top: 10px;">
                                            <button class="button-default btn-large btn-primary-gold" type="submit">Đặt hàng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>

        </section>

        <!-- End Shop Cart -->

    </div>
</main>