@model UniCafe.Models.Order

@{
    ViewBag.Title = "SearchOrder";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}


@if (Model != null)
{
    <h2>Tìm Kiếm</h2>

    <div>
        <h4>Hóa Đơn</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Code)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Code)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Payment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Payment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>

        </dl>
    </div>
    <p>

        @Html.ActionLink("Back to List", "IndexSearchOrder")
    </p>
}
else
{
<div style="padding: 200px 50px 100px">
    <center>
        <h2 style="color: #c19942;">Tìm Kiếm Đơn Hàng</h2>
        <form action="@Url.Action("SearchOrder", "Order")">
            <input class="form-control" type="text" name="OrderCode" placeholder="Nhập mã đơn hàng của bạn" style="width:50%;" />
            <button class="btn btn-success">Tra cứu</button>
        </form>
    </center>
</div>
}

