@model IEnumerable<UniCafe.Models.PropertyProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.Price.ToString("N0")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@using (Html.BeginForm("Create", "PropertyProduct", FormMethod.Post))
{
    @Html.Partial("ErrorsAlert")
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="Name">
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" name="Price">
    </div>
    <div class="form-group">
        <label>Product</label>
        <select class="form-control" name="Product_Id">
            @foreach(var product in ViewBag.Products)
                {
                <option value="@product.Id">@product.Name</option>
                }
        </select>
        @*<input type="text" class="form-control" name="Product_Id">*@
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" name="Status" value="1">
        <label class="form-check-label">Active</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}