@model IEnumerable<UniCafe.Models.OrderDetail>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="table-responsive">
    <table class="table table-condensed table-hover" id="nTable">
        <thead>
            <tr>
                <th>
                    ProductId
                </th>
                <th>
                    ProductName
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quanlity
                </th>
                <th>
                    PropertyProduct
                <th>
                    OptionProduct
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PropertyProduct)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OptionProduct)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>


<script type="text/javascript">
    $(document).ready(function () {
        $('#nTable').DataTable({
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "order": [[0, 'desc']],
        });
    });
</script>