@model IEnumerable<UniCafe.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="table-responsive">
    <table class="table table-condensed table-hover" id="nTable">
        <thead>
            <tr>
                <th>
                    Code
                </th>
                <th>
                    Tên
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Phương thức thanh toán
                </th>
                <th>
                    Ghi chú
                </th>
                <th>
                    Trạng thái
                </th>
                <th>
                    CreatedAt
                </th>
                <th>
                    UpdatedAt
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "ManageCategory", new { id = item.Id })">Sửa</a>
                        <a onclick="del(@item.Id)">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function removeDiacritics(str) {
        str = str.replace(/Đ/g, "D");
        str = str.replace(/ /g, "-"); // replace space to "-"
        return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
    }
    function getSlug() {
        var name = $('#name').val();
        var result = removeDiacritics(name);
        $('#slug').val(result.toLowerCase());
    }
    function del(id) {
        if (confirm("Bạn chắc chắn muốn xóa?")) {
            $.ajax({
                url: "@Url.Action("Delete", "ManageOrder")",
                type: "POST",
                data: { id: id },
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                        location.reload();
                    } else {
                        alert(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#nTable').DataTable({
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "order": [[8, 'desc']],
        });
    });
</script>